.header{
    width: 100%;
    height: auto;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.infoHeader{
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    text-align: center;
}

.title{
    font-size: 4rem;
    background: linear-gradient(135deg, rgba(227, 227, 227, 0.043) 23%, rgba(214, 12, 174, 0.048) 100%);
    border-radius: 20px; 
}

.subtitle{
    background: linear-gradient(135deg, rgba(227, 227, 227, 0.043) 23%, rgba(214, 12, 174, 0.048) 100%);
    border-radius: 20px; 
}

.arrow{
    margin-top: 20px;
    font-size: 2rem;
    transition: all 2s repeat;
    color: #ffffff;
}